[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = https://github.com/thebillkidy/puppetlabs-nodejs.git
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://github.com/thebillkidy/puppet-nginx.git
[submodule "puppet/modules/mongodb"]
	path = puppet/modules/mongodb
	url = https://github.com/thebillkidy/puppet-mongodb.git
